@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
:root {
  --primary-color: #a00404;
  --primary-color2: #ce3838;
  --primary-color-menu-hover: #a00404;
  --primary-color-selected: #a00404;
  --primary-color-hover: #f80303;
  --primary-color-menu-inactive: #ddd;
  --secondary-color: rgb(155, 141, 141);
  --secondary-color-accent: white;
  --primary-color-disable: #ccc;
  --primary-color-accent: white;
  --primary-table-alternating: rgba(226, 195, 195, 0.281);
  --table-hover-color: #f5f1f1;
  --label-size: 0.6rem;
  --normal-font-size: 0.8rem;
  --header-font-size: 1.2rem;
  --table-header-font-size: 0.9rem;
  --login-header-font-size: 1.6rem;
  --menu-font-size: 1rem;
  --loading-font-size: 1.5rem;
  --normal: 300;
  --light: 400;
  --regular: 500;
  --demibold: 700;
  --bold: 900;
  --shadow: 0em 0em 0.5em 0em #ccc;
  --toaster-background-color: #eba3a3;
  --toaster-background-color-hover: #e18585;
  --toaster-background-color-accent: black;
}
/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color-hover);
  border: 1px solid white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color-menu-hover);
  border: 1px solid white;
  border-radius: 0.3em;
  &:hover {
    background: var(--primary-color);
  }
}
body {
  margin: 0 !important;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
  overflow-x: hidden;
  font-weight: var(--normal);
  font-size: var(--normal-font-size);
}
header {
  background: var(--primary-color);
  position: sticky;
  top: 0;
  padding: 0em 0.5em;
  z-index: 5;
  box-shadow: 0em 0.3em 0.3em 0.2em #ccc;
  margin-bottom: 1em;
  nav {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 1em 0;
    .menu-container {
      display: flex;
      align-items: center;
      gap: 2em;
    }
    .nav-icon {
      line-height: 1em;
      font-size: var(--menu-font-size);
      font-weight: var(--demibold);
      text-decoration: none;
      text-align: center;
      width: min-content;
      cursor: pointer;
      color: var(--primary-color-accent);
    }
    .nav-menu {
      font-weight: var(--demibold);
      font-size: var(--menu-font-size);
      line-height: 1em;
      color: var(--primary-color-menu-inactive);
      &:hover:not(.active) {
        color: var(--primary-color-accent);
      }
    }
    .nav-menu:focus + .menus,
    .menus:hover {
      opacity: 1;
      height: unset;
      padding: 1em 0em;
      width: 100%;
      background-color: var(--primary-color);
      justify-content: center;
      z-index: 99;
      transform: scale(1);
      transition: opacity ease-in-out 0.3s;
    }

    .menus {
      top: 100%;
      display: flex;
      transform: scale(0);
      overflow: hidden;
      position: absolute;
      z-index: -1;
      left: 0;
      opacity: 0;
      gap: 2em;
      .menu-items {
        margin: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        .head {
          text-align: center;
          font-size: var(--header-font-size);
          font-weight: var(--demibold);
          color: var(--primary-color-accent);
        }
        .navs {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          a {
            font-size: var(--menu-font-size);
          }
        }
      }
    }
    a,
    label {
      font-size: var(--label-size);
      text-align: center;
      text-decoration: none;
      display: block;
      cursor: pointer;
    }

    button {
      font-size: var(--normal-font-size);
      text-align: center;
      text-decoration: none;
      background-color: var(--primary-color);
      cursor: pointer;
      border: none;
      outline: none;
    }

    .active {
      font-weight: var(--bold);
      pointer-events: none;
      color: var(--primary-color-accent);
    }
  }
}
section {
  width: 80%;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    .header-text {
      position: relative;
      font-size: var(--header-font-size);
      font-weight: var(--demibold);
      border-bottom: 1px solid var(--primary-color);
      &:before {
        content: '';
        position: absolute;
        width: 80%;
        height: 0;
        border-bottom: 1px solid var(--primary-color);
        bottom: -0.3em;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
textarea,
input {
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background-color: unset;
  &:focus {
    outline: none;
  }
}
textarea {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  padding-top: 1em;
  resize: none;
}
select,
textarea,
input {
  font-size: var(--normal-font-size) !important;
}

.btn {
  font-size: var(--normal-font-size);
  border-radius: 0.3em;
  margin-top: 0.5em;
  padding: 0.7em 2em;
  min-width: 5em;
  cursor: pointer;
  color: var(--primary-color-accent);
  font-weight: var(--demibold);
  border: none;
  background: var(--primary-color);
  &:hover {
    box-shadow: 0em 0em 0.3em 0em var(--primary-color);
  }
  &:focus {
    outline: none;
  }
}
.center {
  text-align: center;
}
.custom-input {
  width: 100%;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left;
  justify-content: space-between;
  position: relative;
  label {
    font-size: var(--label-size);
    font-weight: var(--demibold);
    user-select: none;
    opacity: 0.6;
  }
  select {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    text-overflow: ellipsis;
    height: 3em;
    background-color: unset;
    cursor: pointer;
    option {
      padding: 0.2em;
    }
    &:focus {
      outline: none;
    }
  }
  textarea {
    width: 100%;
    padding: 0.6em 0.2em;
  }
  .input-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    position: relative;
    .password {
      padding-right: 2.5em;
    }
    .eye-container {
      position: absolute;
      right: 0.5em;
      align-self: center;
      .eye-icon {
        cursor: pointer;
        color: var(--primary-color);
      }
    }
    .hidden {
      display: none;
    }
    input {
      width: 100%;
      padding: 0.6em 0.2em;
      box-sizing: border-box;
      height: 3em;
      &::-ms-clear,
      &::-ms-reveal {
        display: none;
      }
    }
  }
  .checkbox {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.4em;
    cursor: pointer;
    border-radius: 0.3em;
    padding: 0.6em;
    &:focus {
      outline: none;
    }
    &:hover {
      background: var(--primary-color-hover);
    }
  }
  .checked {
    background-color: var(--primary-color);
    color: var(--primary-color-accent);
    &:hover {
      background: var(--primary-color-menu-hover);
    }
  }
  .datepicker-container {
    position: relative;
    width: 100%;
    height: 3em;
    box-sizing: border-box;
    display: flex;
    .custom-datepicker {
      width: 100%;
    }
  }
  .select-container {
    position: relative;
    width: 100%;
    height: 100%;
    .current-selection-icon {
      position: absolute;
      margin: 0;
      right: 0.3em;
      bottom: 0.4em;
      font-size: 0.7em;
      cursor: pointer;
    }
    .current-selection {
      background: none;
      border: none;
      text-decoration: none;
      cursor: pointer;
      border-bottom: 1px solid var(--primary-color);
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      text-align: left;
      font-size: 0.7em;
      padding: 0em;

      &:focus {
        outline: none;
      }
    }
    .selection {
      width: 100%;
      z-index: 10;
      position: absolute;
      opacity: 0;
      scrollbar-width: thin;
      border-radius: 0.3em;
      box-shadow: 0em 0.2em 0.3em 0em #ccc;
      left: 0;
      height: 0;
      top: calc(100% + 0.2em);
      overflow: auto;

      &:hover {
        opacity: 1;
        height: unset;
        max-height: 10em;
        overflow: auto;
      }

      div {
        padding: 10px;

        width: 100%;
        box-sizing: border-box;
        text-align: left;
        display: block;
        cursor: pointer;

        &:hover:not(.active) {
          background: var(--primary-color-hover);
        }
      }

      .active {
        background: var(--primary-color);
        color: var(--primary-color-accent);
      }
    }
  }

  &:focus-within {
    .current-selection-icon,
    label {
      color: var(--primary-color);
      font-weight: var(--bold);
    }

    .selection,
    .selection:hover {
      opacity: 1;
      height: unset;
      max-height: 10em;
      overflow: auto;
    }
  }
}

.loading-screen {
  display: none;
}

.loading-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 99999;
  .loading-blocker {
    z-index: 999999;
    background-color: #aaa;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
  }
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;

    div {
      position: absolute;
      z-index: 9999999;
      cursor: progress;
      height: 5em;
      width: 5em;
      border-radius: 50%;
      animation: breathe 1s infinite alternate;

      &:after {
        content: '';
        position: absolute;
        border-left: 1em dotted rgb(17, 17, 161);
        border-right: 1em dotted black;
        top: 2.1em;
        animation: rotate 3s infinite reverse;
        height: 1em;
        width: 3em;
      }

      &:before {
        content: '';
        position: absolute;
        border-top: 1em dotted rgb(164, 24, 24);
        border-bottom: 1em dotted rgb(22, 109, 22);
        animation: rotate2 3s infinite linear;
        left: 2.1em;
        height: 3em;
        width: 1em;
      }
    }
  }
}

@keyframes breathe {
  to {
    opacity: 50%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  30% {
    border-left: 1em dotted black;
    border-right: 1em dotted rgb(17, 17, 161);
  }
  50% {
    border-left: 1em dotted rgb(164, 24, 24);
    border-right: 1em dotted rgb(22, 109, 22);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(360deg);
  }
  30% {
    border-top: 1em dotted rgb(22, 109, 22);
    border-bottom: 1em dotted rgb(164, 24, 24);
  }
  50% {
    border-top: 1em dotted rgb(17, 17, 161);
    border-bottom: 1em dotted black;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }
}
.search-container {
  background: white;
  position: relative;
  display: flex;
  padding: 0.4em 0.7em;
  margin: 0.8em 0.3em;
  box-shadow: var(--shadow);
  border-radius: 5em;
  input {
    flex-grow: 1;
    border: none;
  }

  .search-icon {
    margin: 0.5em;
    cursor: pointer;
    color: var(--primary-color);
  }
}
.pagination {
  float: right;
  display: flex;
  font-size: var(--normal-font-size);
  margin: 1em;
  svg {
    height: 15px !important;
    width: 15px !important;
    box-sizing: border-box;
    font-size: var(--normal-font-size);
    padding: 5px;
    background: white;
    color: var(--primary-color);
    border: none;
    border-radius: 0.2em;
    box-shadow: 0em 0em 0.1em 0em var(--primary-color);
    margin: 0 0.2em;
    cursor: pointer;
  }

  .disabled {
    color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
  }

  .pages-container {
    position: relative;
    z-index: 2;
    margin: 0 0.2em;
    height: 25px !important;
    box-sizing: border-box;
    font-size: var(--normal-font-size);
    background: white;
    border: none;
    border-radius: 0.2em;
    box-shadow: 0em 0em 0.1em 0em var(--primary-color);

    .current-page {
      background: none;
      border: none;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0.25em;
      width: 60px;
      box-sizing: border-box;
      justify-content: center;
      height: 100%;
      font-weight: var(--bold);
      color: var(--primary-color);
      font-size: var(--normal-font-size);
    }
    .current-page:focus + .pages,
    .pages:hover {
      opacity: 1;
      height: unset;
      max-height: 400px;
      overflow: auto;
    }
    .pages {
      position: absolute;
      opacity: 0;
      scrollbar-width: thin;
      border-radius: 0.3em;
      background-color: #f9f9f9;
      box-shadow: 0em 0.1em 0.2em 0em #ccc;
      left: 0;
      height: 0;
      top: calc(100% + 0.8em);
      overflow: hidden;
      transform: translateY(-10px);
      transition: opacity 300ms ease-in-out, transform 150ms ease-in-out;

      div {
        color: black;
        padding: 0.5em;
        width: 60px;
        box-sizing: border-box;
        text-align: center;
        display: block;
        font-size: 0.8em;
        cursor: pointer;
        font-weight: var(--bold);
        &:hover {
          color: var(--primary-color);
        }
      }

      .active {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
      }
    }
  }
}

.message-action {
  button {
    margin: 0.3em;
    border-radius: 0.5em;
    padding: 0.4em;
    width: 5em;
    font-weight: var(--bold);
    border: none;
    background-color: var(--primary-color-accent);
    cursor: pointer;

    &:hover {
      transform: scaley(1.2);
    }
  }

  .primary {
    color: var(--primary-color);
  }

  .secondary {
    color: var(--secondary-color);
  }
}

.item-table {
  width: calc(100% - 1.1em);
  border-collapse: collapse;
  box-sizing: border-box;
  position: relative;
  margin: 0.5em;
  box-shadow: var(--shadow);
  .deleted {
    text-decoration: line-through;
    color: gray !important;
  }
  thead {
    position: sticky;
    top: 0.5em;
    z-index: 1;
    tr:first-child {
      color: white;
      background-color: var(--primary-color);
    }
    tr:not(:first-child) {
      th {
        text-align: center !important;
        padding: 0 !important;
        .btn {
          width: 100%;
          box-shadow: none;
          background-color: var(--primary-color-accent);
          color: var(--primary-color);
          height: 100%;
          margin: 0 !important;
          font-weight: var(--demibold);
          border-radius: 0em 0em 0.3em 0.3em;
          &:hover {
            background-color: var(--primary-color);
            color: var(--primary-color-accent);
          }
        }
      }
    }
    th {
      line-height: 1em;
      font-size: var(--table-header-font-size);
      font-weight: var(--regular);
      text-align: left;
      height: 2.5em !important;
      padding: 0.2em 0.4em;
    }
  }
  tbody tr {
    cursor: pointer;
    &:nth-child(even) {
      background: var(--primary-table-alternating);
    }
    &:hover {
      box-sizing: border-box;
      box-shadow: inset 0em 0em 0.1em 0em var(--primary-color);
      color: var(--primary-color);
    }
    &:hover .table-actions {
      width: unset;
      opacity: 1;
    }
    td {
      line-height: 1em;
      padding: 0.2em 0.4em;
      height: 4em !important;
    }
  }

  .table-actions {
    right: 1em;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    opacity: 0;
    width: 0;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 0.3em;
    .btn {
      margin: 0 !important;
      min-width: none !important;
    }
  }
}

.load-more {
  cursor: pointer;
  &:hover {
    font-weight: var(--bold);
  }
}

.modal-container {
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .body-modal {
    overflow: hidden;
  }

  .concern-detail {
    width: 60%;
  }
  .search-modal {
    width: 70%;
  }
  .management-modal {
    width: 70%;
  }
  .modal-content {
    border-radius: 0.3em;
    position: relative;
    margin: 0 auto;
    align-self: center;
    z-index: 10;
    background: white;
    max-width: 90%;
    min-width: 30%;
    box-shadow: 0em 0em 0.2em 0em #ccc;
    .modal-content-header {
      padding: 1em;
      display: flex;
      justify-content: space-between;
      box-shadow: 0em 0.2em 0.2em 0em #ccc;
      .header-text {
        font-size: var(--header-font-size);
        text-transform: capitalize;
        font-weight: var(--demibold);
        color: var(--primary-color);
      }
      .close-icon {
        cursor: pointer;
        color: var(--primary-color);
        height: 1.5em !important;
        width: 1.5em !important;
      }
    }
    .modal-content-body {
      padding: 1em;
      position: relative;
      display: flex;
      flex-direction: column;
      max-height: 70vh;
      overflow-y: auto;
      overflow-wrap: break-word;
      .modal-form {
        display: flex;
        padding: 1em !important;
        flex-wrap: wrap;
        .custom-input {
          width: 50%;
        }
      }
      .full-width {
        .custom-input {
          width: 100% !important;
        }
      }
      .message-body {
        text-align: center;
        padding: 2em;
        min-width: 20em;
        min-height: 5em;
        max-width: 70em;
        max-height: 40em;
        overflow-y: auto;
      }
      .search-modal-body {
        height: 65vh;
        position: relative;
        overflow: auto;
      }
      .display-voter-body {
        overflow: auto;
        height: 70vh;
      }
      .full-modal-body {
        position: relative;
        .voters-container {
          overflow: auto;
          height: 70vh;
        }
      }
    }
    .modal-footer {
      box-shadow: 0em 0em 0.2em 0em #ccc;
      padding: 1em;
      display: flex;
      flex-direction: row-reverse;
      .btn-modal {
        font-size: var(--normal-font-size);
        border-radius: 0.3em;
        padding: 0.6em 2em;
        cursor: pointer;
        margin: 0 0.3em;
      }
      .btn-primary {
        background: white;
        color: var(--primary-color);
        border: none;
        box-shadow: 0em 0em 0.1em 0em var(--primary-color);
        &:hover {
          box-shadow: 0em 0em 0.3em 0em var(--primary-color);
        }
        &:focus {
          outline: none;
          box-shadow: 0em 0em 0.3em 0em var(--primary-color);
        }
      }

      .btn-secondary {
        background: white;
        color: var(--secondary-color);
        border: none;
        box-shadow: 0em 0em 0.1em 0em var(--secondary-color);
        &:hover {
          box-shadow: 0em 0em 0.3em 0em var(--secondary-color);
        }
      }
    }
  }
  .modal-blocker {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgba($color: #ccc, $alpha: 0.7);
    z-index: 8;
  }
}
.check {
  display: flex;
  justify-content: center;
  align-self: center;

  .check-label {
    align-self: center;
  }
}
.left-content {
  text-align: left !important;
  .check {
    justify-content: flex-start !important;
  }
}
.check-label {
  margin-left: 0.3em !important;
  font-size: var(--normal-font-size);
  cursor: pointer;
}
.check-container {
  z-index: 0;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: var(--normal-font-size);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 15px;
  width: 15px;
  border: 1px solid var(--primary-color-selected);
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: var(--primary-color);
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 3px;
      height: 8px;
      border: solid var(--primary-color-accent);
      border-width: 0 2.5px 2.5px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
}
.toaster-main-container {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1em;
  .toaster-container {
    cursor: pointer;
    background-color: var(--toaster-background-color);
    box-shadow: 0em 0em 0.5em 0em #ccc;
    width: 20em;
    min-height: 7em;
    border-radius: 0.5em;
    padding: 0.5em;
    color: var(--toaster-background-color-accent);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    &:hover {
      background: var(--toaster-background-color-hover);
    }
    .title {
      font-weight: var(--regular);
      box-shadow: 0em 0.1em 0em 0em #ccc;
      padding: 0.3em;
    }
    .content {
      padding: 0.5em;
    }
  }
}

@media screen and (max-width: 1400px) {
  :root {
    --label-size: 0.5rem;
    --normal-font-size: 0.7rem;
    --header-font-size: 1.1rem;
    --table-header-font-size: 0.8rem;
    --login-header-font-size: 1.5rem;
    --menu-font-size: 0.9rem;
  }
  nav,
  section {
    width: 85% !important;
  }

  .search-modal {
    width: 90%;
  }
  .management-modal {
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  :root {
    --label-size: 0.4rem;
    --normal-font-size: 0.6rem;
    --header-font-size: 1rem;
    --table-header-font-size: 0.7rem;
    --login-header-font-size: 1.4rem;
    --menu-font-size: 0.8rem;
  }
  nav,
  section {
    width: 100%;
  }
  .menu-container {
    gap: 1em !important;
  }
  .modal-content {
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  :root {
    --label-size: 0.3rem;
    --normal-font-size: 0.5rem;
    --header-font-size: 0.9rem;
    --table-header-font-size: 0.6rem;
    --login-header-font-size: 1.3rem;
    --menu-font-size: 0.7rem;
  }
  nav,
  section {
    width: 100% !important;
  }
  .menu-container {
    gap: 1em !important;
  }
  .modal-content {
    width: 80%;
  }
}
